body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat-bold';
    }

p {
        color: #bfbfbf;
 }

.Big-Heading {
    font-family: 'Montserrat-black';
    font-size: 4rem;
    line-height: 1.5;
}    

.section-heading {
    font-size: 3rem;
    line-height: 1.5rem;
}

#title {
    background-color: #ff4c68;
    color: white;
    text-align: left;
}
.container-fluid {
    padding:3% 15% 7% ;
}

/* Navigation bar */

.navbar {
    padding: 0 0 4.5em;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light  ";
}
/* Downloads buttons */
.download-button {
    margin: 5% 3% 5% 0%;
}

/* title image */
.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}




/* feature section */


#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
  
}
.feature-section {
    font-size: 1.5rem;
}
.feature-box {
    padding: 5%;
}
.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover {
    color: #ff4c68 ;
}
/* testimonial section */
#testimonials {
 
    background-color: #ef8172 ;
    color: white;
}
.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item {
    padding: 7% 15%;
}
#press {
    background-color: #ef8172 ;

    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px;
}
/* pricing section */
#pricing {
    padding: 100px;
}
.price-text {
    font-size: 3rem;
    line-height: 1.5;
}
.pricing-column {
padding: 3% 2%;
}

@media (max-width: 1020px) {
    #title {
       
    }
    .title-image {
        position: static;
        transform: rotate(0);
        text-align: center;

    }
}
#cta {
    background-color: tomato;
 
    padding: 7% 15%;
    color: #bfbfbf;
   
}

.cta-button {
    margin: 2.5rem;
}

#footer {

 
    padding: 7%;
}
.social-icon  {
    margin: 20px 10px;
}